body {
  font-family: Arial;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #282c34;
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

.card {
  border: 1px solid gray;
  padding: 10px;
  margin-top: 20px;
}
